<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Restaurant{% endblock%}</title>
        <style>
            .breadcrumbs{
            fonr-size: 14px;
            margin: 10px 0;
            }
            .breadcrumbs a{
            text-decoration: none;
            color: #3498db;
            }
            .breadcrumbs a:hover{
            text-decoration: underline:
            }
            .breadcrumbs span{
            color: #555;
            }
            </style>
    </head>
    <body>
        <nav class="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </nav>
    </body>
</html>