<!DOCTYPE html>
<html>
    <head>
        <title>{{reastaurant_name}}</title>
        <style>
            body{font-family: Arial, sans-serif;
            background-color: #fdfdfd;
            text-align: center;
            padding: 20px;
            }
            h1{color: #d25400;
            }
            p{font-size;18px;
            color: #555;

            }
            .phone{font-weight: bold;
                  color: # 27ae60;
            }
            </style>
    </head>
    <body>
        <h1>wel come{{reastaurant_name}}</h1>
        <p>Experience the good cuisines</p>
        <p>call us: <span class="phone">{{phone}}</span></p>
    </body>
</html>

body{
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    padding: 20px;

}
.restaurant-logo{
    width: 180px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2)
}
.homepage{margin: 40px auto;
padding: 20px;
max-width: 700px;
background: #ffffff;
boder-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
/* Headings */
h1{font-size: 2.5rem;
color: #c0392;
margin-bottom: 15px;
}
p{font-size: 1.2rem;
margin: bold;
}
.phone{
    margin-top: 20px;
    font-weight:bold;
    color: #27ae60;
}
{ % extends 'base.html' %}
{% block content %}

<div class="restaurant-header" style="text-align: center; margin: 20px 0;">
    {% if reastaurant.logo %}
      <img src="{{ reastaurant.logo.url}}" alt="{{reastaurant.name}} Logo" style="max-height:100px; margin-bottom:10px;">
      {% endif %}
      <h1 style="font-family: 'Segoe UI', Tahoma,Geneva,Verdana,sans-serif">
        {{reastaurant.name}}
      </h1>
      <p style="font-size: 18px; color:#555; font-style: italic;">
        Welcome to {{reastaurant.name}} - where taste meets tradition
      </p>
      <p><strong> Address:</strong> {{restauerant.address}}</p>
      <p><strong> Phone:</strong>  {{restaurant.phone_number}}</p>
</div>